uvicorn[standard]
#hypercorn
fastapi
# asyncio
pyyaml
python-dateutil
websockets
pytest
pytest-mock
pytest-asyncio
#C:/Users/braya/apps/freyaalpha/fa-models
fa-models
aioredis[hiredis]
redis-om
tenacity
pydantic[email]
bcrypt
python-jose
python-multipart
sse-starlette
httpx
